.container {
  max-width: 436px;
  margin: 0 auto;
  color: var(--text-color);
  font-family: var(--font-main);
}

.dropzone {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--caption-color);
  text-align: center;
  background-color: var(--card-input-color);
  border: 1px dashed var(--caption-color);
  border-radius: var(--border-raduis-main);
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.24s ease-in-out;
}

.dropzoneContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
}

.dropzoneText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--caption-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
}

.browseLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  color: var(--button-pressed-color);
  font-weight: var(--font-weight);
  cursor: pointer;
  transition: color 0.2s ease;
}

.errorsContainer {
  margin: 16px 0;
  padding: 16px;
  background-color: rgb(191 57 32 / 5%);
  border: 1px solid var(--alarm-color);
  border-radius: var(--border-raduis-main);
}

.errorsTitle {
  margin: 0 0 8px;
  color: var(--error-color);
  font-weight: var(--font-weight-accent);
  font-size: var(--font-size-caption);
  font-family: var(--font-accent);
}

.errorsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.errorItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  color: var(--error-color);
  font-size: var(--font-size-caption);
}

.errorItem::before {
  font-size: 14px;
  content: "";
}

.errorText {
  color: var(--error-color);
  font-weight: var(--font-weight-accent);
}

.fileList {
  min-width: 360px;
  background-color: transparent;
  border-radius: var(--border-raduis-main);
}

.fileName {
  max-width: 200px;
  overflow: hidden;
  color: var(--caption-color);
  font-weight: var(--font-weight-accent);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fileItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 8px;
  max-height: 24px;
}

.fileInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.deleteFileButton {
  padding: 0;
  background-color: transparent;
}

.fileSize {
  color: var(--caption-color);
  font-weight: var(--font-weight);
  font-size: 11px;
}

.fileType {
  padding: 2px 6px;
  color: var(--text-disabled-color);
  font-weight: var(--font-weight-accent);
  font-size: 10px;
  background-color: var(--button-hover-color);
  border-radius: 10px;
}
