.wrapper {
  position: relative;
  display: inline-block;
}

.avatarLabel {
  position: relative;
  display: block;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.placeholderIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.input {
  display: none;
}

.button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.bottomRight {
  right: 0;
  bottom: 0;
  transform: translate(5%, 5%);
}

.bottomLeft {
  bottom: 0;
  left: 0;
  transform: translate(-25%, 25%);
}

.topRight {
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
}

.topLeft {
  top: 0;
  left: 0;
  transform: translate(-25%, -25%);
}
