/* stylelint-disable selector-class-pattern */

/* stylelint-disable selector-pseudo-class-no-unknown */

.popper {
  box-sizing: border-box;
  width: 280px;
  padding: 16px 16px 8px;
  background-color: var(--card-input-color);
  border: 1px solid var(--caption-color);
  border-radius: var(--border-raduis-main);
  transform: translate(0, 4px) !important;
}

.calendar {
  display: flex !important;
  flex-direction: column;
  color: var(--text-color) !important;
  font-weight: var(--font-weight) !important;
  font-size: var(--font-size-caption) !important;
  font-family: var(--font-main) !important;
  line-height: 0.75 !important;
  background-color: var(--card-input-color) !important;
  border: none !important;
  border-radius: var(--border-raduis-main) !important;
}

:global(.react-datepicker__header) {
  padding-bottom: 0 !important;
  background-color: transparent !important;
  border-bottom: none !important;
}

:global(.react-datepicker__tab-loop) {
  position: relative;
}

:global(.react-datepicker__day--selected) {
  color: inherit !important;
  background-color: var(--accent-color) !important;
  border-radius: 50% !important;
}

:global(.react-datepicker__day:not([aria-disabled="true"]):hover) {
  border-radius: 50% !important;
}

:global(.react-datepicker__day--keyboard-selected) {
  color: inherit !important;
  background-color: #f0f0f0 !important;
  border-radius: 50% !important;
}

:global(.react-datepicker__triangle) {
  display: none !important;
}

/* Кастомный хедер */

.calendar_header {
  margin-inline: 0.4rem;
  text-align: center;
}

.calendar_header .header {
  padding-inline: 15px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  text-align-last: right;
  background-color: transparent;
}

.selector_wrapper {
  position: relative;
}

.selector_wrapper::after {
  position: absolute;
  top: 50%;
  right: -7px;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("../../../../assets/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
  pointer-events: none;
}

.selector {
  width: fit-content;
  padding-right: 15px;
  padding-left: 8px;
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  background: transparent;
  border: none;
  appearance: none;
}

.selector:focus-visible {
  border: none;
  outline: none;
}

.selector:focus {
  border: none;
}

.weeks {
  padding-top: 16px;
  color: var(--button-pressed-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-caption);
  font-family: var(--font-main);
  white-space: nowrap;
}

.week_day {
  display: inline-block;
  width: 1.7rem;
  margin: 0.17rem;
  line-height: 1.7;
  text-align: center;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  width: 227px;
}
