/* Кастомный хедер */

.calendar_header {
  margin-inline: 0.4rem;
  text-align: center;
}

.calendar_header .header {
  padding-inline: 15px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  text-align-last: right;
  background-color: transparent;
}

.selector_wrapper {
  position: relative;
}

.selector_wrapper::after {
  position: absolute;
  top: 50%;
  right: -7px;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("../../../../assets/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
  pointer-events: none;
}

.selector {
  width: fit-content;
  padding-right: 15px;
  padding-left: 8px;
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  background: transparent;
  border: none;
  appearance: none;
}

.selector:focus-visible {
  border: none;
  outline: none;
}

.selector:focus {
  border: none;
}

.weeks {
  padding-top: 16px;
  color: var(--button-pressed-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-caption);
  font-family: var(--font-main);
  white-space: nowrap;
}

.week_day {
  display: inline-block;
  width: 1.7rem;
  margin: 0.17rem;
  line-height: 1.7;
  text-align: center;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
