@import url("../../../app/styles/variables.css");

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
  padding: 12px 24px;
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: var(--border-raduis-main);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Модификатор полной ширины */

.button-full-width {
  width: 100%;
}

/* Primary Button */

.button-primary {
  color: var(--text-color);
  background-color: var(--accent-color);
  border: 1px solid #000000;
}

.button-primary:hover {
  background-color: var(--button-hover-color);
}

.button-primary:active {
  color: var(--bg-color);
  background-color: var(--button-pressed-color);
}

.button-primary:disabled {
  color: var(--caption-color);
  background-color: var(--button-disabled-color);
  cursor: not-allowed;
}

/* Secondary Button */

.button-secondary {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.button-secondary:hover {
  color: var(--caption-color);
  border-color: var(--button-hover-color);
}

.button-secondary:active {
  border-color: var(--button-pressed-color);
}

.button-secondary:disabled {
  color: var(--text-disabled-color);
  border-color: var(--button-disabled-color);
  cursor: not-allowed;
}

/* Tertiary Button */

.button-tertiary {
  text-decoration: none;
  background-color: var(--bg-color);
}
