.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-grow: 1;
  min-inline-size: 752px;
  padding: 60px;
  background-color: var(--card-input-color);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.data_gender_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.calendar {
  position: relative;
}

.label {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  gap: 4px;
}

.change_password_button {
  margin-top: 12px;
  padding: 0;
  color: var(--button-pressed-color);
  font-weight: var(--font-weight-accent);
  background-color: transparent;
}

.description_field {
  block-size: 120px;
}

.avatar_section {
  justify-self: end;
}

.user_avatar {
  width: 244px;
  height: 244px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
