.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
  background: var(--bg-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
  max-width: 1136px;
  margin-top: 32px;
}

.left,
.right {
  background: var(--card-input-color);
  border-radius: var(--border-raduis-main);
}

.header {
  margin-top: 4px;
}
