.error {
  max-width: 460px;
  margin: 0 auto;
  text-align: center;
}

.icon {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 5px;
  color: var(--text-color);
  font-weight: var(--font-weight-accent);
  font-size: var(--font-size-h2);
  font-family: var(--font-accent);
  line-height: var(--line-height-main);
}

.description {
  margin-bottom: 32px;
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
}

.button {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
