.checkbox {
  display: flex;
  justify-content: space-between;

  /* gap: 8px; */
  align-items: center;
  cursor: pointer;
}

.checkbox_element {
  display: flex;
  align-items: center;
  gap: 8px;
}
