.page {
  padding: 32px 36px 60px;
}

.info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 24px;
  margin-block-end: 60px;
}

.similar_offers_title {
  margin-block-end: 32px;
  font-weight: var(--font-weight-accent);
  font-size: var(--font-size-h2);
  font-family: var(--font-accent);
  line-height: var(--line-height-h2);
}
