.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  block-size: 100%;
  padding: 40px 40px 0;
  background-color: var(--card-input-color);
  border-radius: 24px;
}

.item_wrapper {
  inline-size: 100%;
  max-inline-size: 100%;
  color: inherit;
  text-decoration: none;
  border-radius: var(--border-raduis-main);
}

.menu_item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
}

.item_wrapper:hover {
  background-color: var(--button-disabled-color);
}

.menu_item_selected {
  background-color: var(--button-hover-color);
}

.menu_item_selected:hover {
  background-color: var(--button-hover-color);
}
