.sidebar {
  box-sizing: border-box;
  max-height: 100%;
  min-inline-size: 324px;
  padding: 20px;
  overflow: scroll;
  background-color: var(--card-input-color);
  border-radius: var(--border-raduis-main);
}

.sidebar_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 40px;
}

.sidebar_title_text {
  font-weight: var(--font-weight-accent);
  font-size: var(--font-size-h2);
  font-family: var(--font-accent);
  letter-spacing: -1.1%;
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reset_button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  color: var(--button-pressed-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
