.skill_info_section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 52px 40px;
  background-color: var(--card-input-color);
  border-radius: var(--border-raduis-main);
}

.icon_buttons {
  display: flex;
  justify-content: end;
  gap: 1em;
}

.icon_button {
  block-size: 24px;
  padding: 0;
}

.swap_button {
  margin-block-start: 28px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: min(70px);
}

.text_content {
  max-inline-size: 400px;
}

.title {
  margin-block-end: 4px;
  font-weight: var(--font-weight-accent);
  font-size: var(--font-size-h1);
  font-family: var(--font-accent);
  line-height: var(--line-height-h1);
}

.caption {
  margin-block-end: 20px;
  color: var(--caption-color);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
}
