.container {
  padding: 50px 60px;
  background-color: var(--card-input-color);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}

.button_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
  gap: 20px;
  padding-top: 16px;
}

.label {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  gap: 4px;
  color: var(--text-color);
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  line-height: 1.5;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  color: var(--text-color);
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  line-height: var(--line-height-main);
  background-color: var(--card-input-color);
  border: 1px solid var(--caption-color);
  border-radius: var(--border-raduis-main);
  resize: none;
}

.textarea::placeholder {
  color: var(--caption-color);
  font-family: inherit;
}

.error {
  display: block;
  color: var(--error-color);
  font-size: var(--font-size-caption);
  line-height: 1.3;
}

.image_error {
  display: block;
  color: var(--error-color);
  font-size: var(--font-size-caption);
  line-height: 1.3;
  text-align: center;
}

.textarea_error {
  border-color: var(--error-color);
}
