.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: fit-content;
  color: inherit;
  text-decoration: none;
}

.logo_text {
  font-weight: 600;
  font-size: var(--font-size-h2);
  font-family: var(--font-accent);
  line-height: var(--line-height-h2);
}
