.registration {
  padding: 120px 60px;
  background-color: var(--card-input-color);
}

.registration__link:first-of-type {
  margin-bottom: 16px;
}

.registration__link:last-of-type {
  margin-bottom: 24px;
}

.registration__separator {
  position: relative;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
}

.registration__separator::after,
.registration__separator::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: calc(50% - 20px);
  height: 1px;
  background-color: var(--button-disabled-color);
  content: "";
}

.registration__separator::before {
  left: calc(50% + 20px);
}

.registration__input {
  margin-bottom: 16px;
}
