.checkbox_subgroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subgroup_list {
  max-width: 284px;
}

.subgroup_list_title {
  margin-block-end: 20px;
  font-weight: var(--font-weight-accent);
  font-size: var(--font-size-h3);
  font-family: var(--font-accent);
  line-height: var(--line-height-main);
}

.all_categories {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block-start: 12px;
  padding: 0;
  color: inherit;
  color: var(--button-pressed-color);
  font: inherit;
  background-color: var(--bg-color);
  border: none;
  cursor: pointer;
}
