.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}

.children {
  flex: 1;
}

.error {
  display: block;
  color: var(--error-color);
  font-size: var(--font-size-caption);
  line-height: 1.3;
}
