.users-page {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 32px 36px 60px;
}

.users-page__body {
  width: 100%;
}

.section {
  margin-bottom: 40px;
}

.section:last-child {
  margin-bottom: 0;
}
