@import url("./app/styles/index.css");

body {
  margin: 0;
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  line-height: var(--line-height-main);
  background-color: var(--bg-color);
}
