.page {
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  background-color: var(--bg-color);
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}
