.radio-group__title {
  margin-bottom: 20px;
  font-weight: var(--font-weight-accent);
  font-size: var(--font-size-h3);
  font-family: var(--font-accent);
  line-height: var(--line-height-main);
}

.radio-group__options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.option__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option__input {
  position: absolute;
  width: 0;
  height: 0;
}

.option__check-icon-out {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  color: inherit;
  border: 2px solid currentcolor;
  border-radius: 50%;
}

.option__check-icon-in {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
}

.option:has(.option__input:checked) .option__check-icon-in {
  background-color: currentcolor;
}

.option:has(.option__input:checked) .option__check-icon-out {
  color: var(--button-pressed-color);
}